/* GENERAL */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Tahoma, sans-serif;
}

section {
    padding: 4rem 0;
}

header {
    --primary-color: #0084fd;
    --secondary-color: #ffffff;
    --alt-color: #b5ddff;
}

main {
    --primary-color: #9792e4;
    --secondary-color: #ffffff;
}

ul , menu {
    list-style: none;
}

h2 , p , strong {
    line-height: 2;
}

a {
    color: inherit;
    text-decoration: inherit;
}

img {
    width: 100%;
    display: block;
}

/* Container to horizontal align content */
.align-box {
    width: 90%;
    max-width: 1150px;
    margin: 0 auto;
}

/* Flex container and items general rules */
.col-container {
    display: flex;
    gap: 1.5rem;
    flex-flow: row wrap;
}

/* Grid container and items general rules */
.cards-container {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
}

/* Cards rules */
.card:not(.rounded) {
    padding: 2rem;
    border-radius: 1.25rem;

    font-weight: 700;
    color: #00000080;
}

.card-icon {
    font-size: 5em;
    margin-bottom: 0.5rem;
}

.card-title {
    display: block;
    font-size: 1.375em;
    margin-bottom: 1rem;
}

.card .visual-button {
    margin-top: 1em;
    padding: .75em 3em;
    line-height: 1em;
    letter-spacing: .2em;
    background-color: var(--secondary-color);
}

/* Visual buttons */
.visual-button {
    display: inline-block;
    border-radius: 100em;
}

.visual-button:hover {
    box-shadow: 0 0 0.4em 0.2em #00000065;
    filter: brightness(115%);
}

.visual-button:active {
    box-shadow: inset 0 0 0.8em 0.4em #00000065;
    filter: brightness(85%);
}


/* HEADER */
/* Fixed top navigation bar */
#top-bar {
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
    padding: 1rem 0;
    background-color: var(--primary-color);

    color: var(--secondary-color);
}

#top-bar .col-container {
    justify-content: flex-end;
    align-items: center;
}

#top-bar .col:first-child {
    height: 2.5rem;
    margin-right: auto;
}

#top-bar .col:not(:first-child):not(:last-child) {
    display: none;
}

#top-bar .col:last-child {
    font-size: 1.5rem;
}

#top-bar .visual-button {
    padding: .75em 1em;
    color: #000000;
    background-color: var(--secondary-color);
}


/* Jumbo */
#jumbo {
    padding-top: 8.5rem;
}

#jumbo .card {
    background-color: var(--alt-color);
    overflow-x: auto;

    text-align: center;
    line-height: 2;
}

#jumbo .card.col-container {
    padding-bottom: 0;
}

#jumbo .card-icon , #jumbo .card-title {
    color: var(--primary-color);
}

#jumbo .card .visual-button {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

#jumbo img {
    display: block;
    width: 100%;
}



/* TABLET VERSION */
@media screen and (min-width:426px) {
    /* GENERAL */
    /* Container to horizontal align content */
    .align-box {
        width: 95%;
    }

    /* Grid container and items general rules */
    .cards-container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
    }

    .card.col-container {
        grid-column: span 2;
    }

    /* HEADER */
    /* Jumbo */
    #jumbo .card.col-container > *:first-child {
        padding-bottom: 2rem;
    }
}


/* DESKTOP VERSION */
@media screen and (min-width:769px) {
    /* HEADER */
    /* Fixed top navigation bar */
    #top-bar .col:not(:first-child):not(:last-child) {
        display: list-item;
    }

    #top-bar .col:last-child {
        display: none;
    }

    /* Jumbo */
    #jumbo .card:first-child {
        text-align: left;
    }

    .card.col-container{
        flex-wrap: nowrap;
    }

    .card.col-container .col:last-child {
        min-width: 50%;
        align-self: flex-end;
    }
}