/* GENERAL */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Tahoma, sans-serif;
}

section {
    padding: 4rem 0;
}

header {
    --primary-color: #0084fd;
    --secondary-color: #ffffff;
    --alt-color: #b5ddff;
}

main {
    --primary-color: #9792e4;
    --secondary-color: #ffffff;
}

footer {
    --primary-color: #333333;
    --secondary-color: #ffffff;
    --alt-color: #9792e4;
}

ul , menu {
    list-style: none;
}

/* Blockquote quote */
blockquote p::before {
    content: "\275D";
    font-size: 2em;
    vertical-align: middle;
    line-height: 1;
}

blockquote p::after {
    content: "\275E";
    font-size: 2em;
    vertical-align: middle;
    line-height: 1;
}

/* Blockquote author */
blockquote em {
    display: block;
    font-style: normal;
    font-weight: 600;
}

p , strong {
    line-height: 2;
}

q {
    quotes: none;
}

a {
    color: inherit;
    text-decoration: inherit;
}

img {
    width: 100%;
    display: block;
}

/* Container to horizontal align content */
.align-box {
    width: 85%;
    max-width: 1150px;
    margin: 0 auto;
}

/* Flex container and items general rules */
.col-container {
    display: flex;
    gap: 1.5rem;
    flex-flow: row wrap;
}

/* Grid container and items general rules */
.cards-container {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
}

/* Cards rules */
.card:not(.rounded) {
    padding: 2rem;
    border-radius: 1.25rem;

    font-weight: 700;
}

.card.rounded {
    padding: 2rem 1rem;
    border-radius: 3rem;
}

.card-icon {
    font-size: 5rem;
    margin-bottom: 0.5rem;
}

.card-text {
    color: #00000080;
}

.card-title {
    display: block;
    font-size: 1.375rem;
    margin-bottom: 1rem;
}

.card .visual-button {
    margin-top: 1em;
    padding: .75em 3em;
    line-height: 1em;
    letter-spacing: .2em;
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

/* Visual buttons */
.visual-button {
    display: inline-block;
    border-radius: 100em;
    padding: .75em 1em;
}

.visual-button:hover {
    box-shadow: 0 0 0.4em 0.2em #00000065;
    filter: brightness(115%);
}

.visual-button:active {
    box-shadow: inset 0 0 0.8em 0.4em #00000065;
    filter: brightness(85%);
}


/* HEADER */
/* Fixed top navigation bar */
#top-bar {
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
    padding: 1rem 0;
    background-color: var(--primary-color);

    color: var(--secondary-color);
}

#top-bar .col-container {
    justify-content: flex-end;
    align-items: center;
}

#top-bar .col:first-child {
    height: 2.5rem;
    margin-right: auto;
}

#top-bar .col:not(:first-child):not(:last-child) {
    display: none;
}

#top-bar .col:last-child {
    font-size: 1.5rem;
}

#top-bar img {
    width: auto;
    height: 100%;
}

#top-bar .visual-button {
    color: #000000;
    background-color: var(--secondary-color);
}


/* Jumbo */
#jumbo {
    padding-top: 8.5rem;
}

#jumbo .card {
    background-color: var(--alt-color);

    text-align: center;
}

#jumbo .card.col-container {
    padding-bottom: 0;
}

#jumbo .card-icon , #jumbo .card-title {
    color: var(--primary-color);
}

#jumbo .card .visual-button {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}


/* MAIN */
main section:nth-child(odd) , main section:nth-child(even) .card {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

main section:nth-child(odd) .card , main section:nth-child(even) {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

main h2 {
    font-size: 2rem;
}

main section:nth-child(even) .section-paragraph , main section:nth-child(even) [role = "doc-subtitle"] {
    color: #000000;
}

.profile-pic {
    margin: 0 auto;
}

.profile-pic img {
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
}

[role = "doc-subtitle"] {
    display: block;
    font-weight: 400;
    margin-bottom: 2rem;
}

/* Planning section */
#planning .col {
    flex-basis: 100%;
}

#planning h2 {
    margin: 5rem 0 3.75rem;
}

#planning .card {
    color: #000000;
    text-align: center;
}

#planning .card img {
    margin: 0 auto;
    width: 80%;
}

#planning .card-text {
    font-style: italic;
}

#planning .visual-button {
    padding: 1rem 0.9rem 1rem 1.1rem;

    color: #000000;
}

/* Testimonials section */
#testimonials {
    text-align: center;
}

#testimonials h2 {
    margin-bottom: 3rem;
}

#testimonials .section-paragraph {
    margin-bottom: 3.5rem;
}

#testimonials .card {
    margin-bottom: 2rem;
}

#testimonials .profile-pic img {
    width: 12.5rem;
    height: 12.5rem;
}

.card blockquote em {
    margin-top: 1.75rem;
}

/* Features section */
#features h2 {
    text-align: center;
    margin-bottom: 4rem;
}

/* About us section */
#about-us .align-box {
    max-width: 950px;
    gap: 4rem;
}

#about-us h2 {
    font-size: 2.5rem;
    margin-bottom: 3rem;
}

#about-us .section-paragraph {
    margin: 4rem 0;
}

#about-us .profile-pic {
    position: relative;
    width: fit-content;
}

#about-us .profile-pic img {
    width: 15rem;
    height: 15rem;
}

#about-us .profile-pic span {
    position: absolute;
    top: -3rem;
    right: -1rem;
    z-index: 2;
    font-size: 10rem;
}

#about-us q {
    display: block;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.5;
    margin: 2rem 0;
}

#about-us .visual-button {
    color: var(--secondary-color);
    background-color: var(--primary-color);

}

/* Get started section */
#get-started {
    text-align: center;
}

#get-started .align-box > div {
    max-width: 475px;
    margin: 0 auto;
}

#get-started strong {
    display: block;
    margin: 2.75rem 0;
    font-size: 3.5rem;
    color: #fdc15f;
}

#get-started .visual-button {
    padding: 1.5em 4.75em;
    margin: 2.25rem 0;
    font-weight: 700;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

#get-started small {
    display: block;
}

#get-started small a {
    text-decoration: underline;
}


/* FOOTER */
footer {
    padding: 2.75rem 0 2.25rem;
    background-color: var(--primary-color);

    color: var(--secondary-color);
    text-align: center;
}

footer .align-box {
    max-width: 475px;
}

footer p {
    margin-bottom: 4.25rem;
}

footer a {
    color: var(--alt-color);
    text-decoration: underline;
}



/* TABLET VERSION */
@media screen and (min-width:426px) {
    /* GENERAL */
    /* Container to horizontal align content */
    .align-box {
        width: 95%;
    }

    /* Grid container and items general rules */
    .cards-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
        overflow-x: auto;
    }

    .col-container {
        grid-column: span 2;
    }

    /* Cards rules */
    .card {
        padding: 1.5rem;
    }


    /* HEADER */
    /* Jumbo */
    #jumbo .cards-container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
    }

    #jumbo .card:first-child {
        text-align: left;
    }

    #jumbo .col:first-child {
        padding-bottom: 1.5rem;
    }

    #jumbo .col:last-child {
        max-width: 50%;
    }


    /* MAIN */
    /* Testimonials section */
    #testimonials .card {
        flex-wrap: nowrap;
        align-items: center;
        text-align: left;
    }

    #testimonials blockquote {
        flex-basis: calc(100% - 14rem);
    }

    /* About us section */
    #about-us .col-container {
        flex-wrap: nowrap;
    }

    #about-us .col:first-child {
        overflow-x: auto;
    }

    #about-us .col:last-child {
        flex-basis: 17rem;
    }

    #about-us h2 {
        font-size: 3.5rem;
    }
}


/* DESKTOP VERSION */
@media screen and (min-width:769px) {
    /* GENERAL */
    /* Container to horizontal align content */
    .align-box {
        width: 95%;
    }

    /* Grid container and items general rules */
    .cards-container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
    }


    /* HEADER */
    /* Fixed top navigation bar */
    #top-bar .col:not(:first-child):not(:last-child) {
        display: list-item;
    }

    #top-bar .col:last-child {
        display: none;
    }

    /* Jumbo */
    #jumbo .card.col-container{
        flex-wrap: nowrap;
    }

    #jumbo .card.col-container .col {
        flex-basis: calc(50% - 0.75rem);
    }

    #jumbo .card.col-container .col:last-child {
        align-self: flex-end;
    }

    
    /* MAIN */
    /* Planning */
    #planning .align-box {
        max-width: 900px;
    }

    #planning .col-container {
        align-items: flex-end;
        gap: 2rem;
    }

    #planning .col {
        flex-basis: calc(50% - 1rem);
    }
}